
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@200;400;500&family=Staatliches&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	font-size: 62.5%;
}
.content{
	max-width: 38.4rem;
	margin: 0 auto;
}
header{
	background-color: #8E9AAF;
	padding: 2.4rem 0;
}
main{
	padding: 0 3.2rem;
}
h1{
	font-size: 4rem;
	font-family: 'Staatliches', cursive;
	text-align: center;

	color: #ffffff;
	background-color: #CBC0D3;

	margin-top: 2.4rem;
	letter-spacing: 0.5rem;
}
p{
	font-size: 1.35rem;
	font-family: 'Palanquin', sans-serif;
	font-weight: 500;
	text-align: center;

	color: #23053A;

	margin: 1.6rem 0 6.4rem 0;
}
img{
	display: block;
	margin: 0 auto;
}

main > .img-container{
	margin: 3.2rem 0;
	position: relative;
}
.img-container > span{
	display: inline-block;
	position: absolute;
	top: 1.6rem;
	right: 1.6rem;

	color: #4A4E69;
	background-color: #FEEAFA;
	font-size: 2rem;
	font-family: 'Staatliches', cursive;
	padding: 0.5rem 2.6rem;
	border-radius: 32px;
}

header > img{
	transition: 1s;
}


header > img:hover{
	scale: 1.1;
}

